<!DOCTYPE html>
<html>
  <head>
    <title>Lisper</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>

  <body>
    <div class="refreshContainer">
      <strong class="text">
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z" stroke="white" stroke-width="2"/></svg>

        <span>Refresh to get a new message and user!</span>
      </strong>
    </div>
    <div id="bottomPart">
      <div id="mainContainer">
      <div id="container">
        <h1>What's your secret?</h1>
        <div class="card">
          <p class="visible"><%= data.secret %></p>
        </div>
        <p class="user"><%= data.username %></p>
      </div>
      <div class="textContainer">
        <strong class="text">
          <svg
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
          >
            <path
              d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z"
              stroke="white"
              stroke-width="2"
            />
          </svg>

          <span>HOVER</span>
        </strong>
      </div>
    </div>
    </div>
    <div class="buttons-year">   
      <div class="buttons-container">
              <div class="outline">
                  <span class="top-key"></span>
                  <a href="https://www.marius-bogdan.com/">
                      <button class="return-button">
                          <div class="return-sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                          <div class="return-text">Return</div>
                      </button>
                  </a>
                  <a href="https://github.com/MIBogdan/projects/tree/main/personal-projects/secrets">
                      <button class="code-button">
                          <span class="bracket left">&#123;</span>
                          <span class="code-text">View Code</span>
                          <span class="bracket right">&#125;</span>
                      </button>
                  </a>
                  <span class="bottom-key-1"></span>
                  <span class="bottom-key-2"></span>
              </div>
          <div class="year-container">
              <p id="year"></p>
          </div>
      </div>
  </div>
    
    </div>
    
    
    
    
    <script>
      let year = new Date().getFullYear();
      document.getElementById('year').innerHTML = `&copy ${year} Marius Bogdan. All rights reserved.`;
    </script>
  </body>
</html>
